.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ffc2e6;
  --accent-shadow-color: #ff8dcb;
  --accent-text-color: #353430;
  --text-color: #353430;
  --main-text-color: #353430;
  --bg-decoration: #ff8dcb;
  --outline-transparent: rgba(50, 49, 45, 0.4);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #db00ff;
    --accent-shadow-color: #ff0070;
    --accent-text-color: #000028;
    --text-color: #ff0070;
    --main-text-color: #f1b2ce;
    --bg-decoration: #ff0070;
    --outline-transparent: rgba(255, 0, 112, 0.4);
    --rec-display: flex;
  }
}
